{% extends 'Posts/base.html' %}
{% block content %}

<br><br>
           <div class="alert alert-success"  id="alert" role="alert">
               {% if messages %}
               {% for message in messages%}
               {{message}}
               {% endfor %}
               {% endif %}
               </div>


<div class="col-lg-12 col-lg-offset-3" style="padding-left:80px; padding-right: 30px;" >
    <p><h2>{{post.titles}},<small style="size: 1px;
    text-align: end;
    font-size: 14px;
    padding-left: 15px;
    color: darkslategrey;">{{post.create_time}}</small></h2></p>
<br>
     {% if post.image.get_image_or_none %}
    <img src="{{ post.image.get_image_or_none }}" style="width:350px;" class="img-responsive">
    {% endif %}
<p>{{post.content}}</p>
<p>Düzəliş tarixi: {{ post.updated_time|timesince }}</p>

<a class="btn btn-info" href="{% url 'update' post.slugfy %}"><button>Düzəliş et</button></a>
<a class="btn btn-danger" href="{% url 'delete' post.slugfy %}"><button>Sil</button></a>
</div>
    {% endblock %}


